* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1{
  color: black;
  width: 25%;
  font-weight: 500px;
  margin: 0px 0px 10px 30px;
  background-color: rgba(146,204,205,255);
  text-align: right;
  font-size: 35px;
  padding-right: 10px;
  position:absolute;
  left: 0px;
}

h3{
  font-size: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h4{
  padding-left: 30px;
  margin-bottom: 30px;
  background-color: rgb(59, 173, 177);

}

p {
  font-size: 20px;
}

nav{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  background-color: rgba(49,52,61,255);
  height: 80px;
}

nav a{
  color: white;
  font-size: medium;
  margin-right: 20px;
  font-size: 25px;

}

a:hover {
  background-color: rgba(146,204,205,255);
  color: black;
}

#navbar{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}

.hero-banner{
  display: block;
  background-image: url("../images/pngwing.com\ \(1\).png");
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

#ProfilePic{
  height: 250px;
  width: auto;
  border-radius: 50%;
  border: 3px solid rgba(146,204,205,255);
  margin-left: 10px;
}

.hero-banner h2{
  background-color: rgba(146,204,205,255);
  width: fit-content;
  padding: 5px;
  font-size: 40px;
  position: absolute;
  right: 40px;
  bottom:20px;

}

#AboutMeGrid{
  margin: 0px 5%;
  margin-top: 30px;
  display: grid;
  height: 200px;
  grid-template-rows: 100%;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
    "title textArea"
  ;
}

#aboutmetitle{
  grid-area: title;
}

#aboutmetext{
  grid-area: textArea;
}

.title{
  border-right: 5px black solid;
  border-color: rgb(59, 173, 177);
  color: rgb(59, 173, 177);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
  padding-right: 20px;
}

.text{
  padding-left: 20px;
  padding-right: 30px;
}

#PortfolioGrid{
  margin: 0px 5%;
  margin-top: 40px;
  display: grid;
  height: 800px;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas: 
    "title workitem1 workitem1"
    "title workitem2 workitem3"
    "title workitem4 workitem5"
  ;
}

#workTitle{
  grid-area: title;
}

#workItem1{
  grid-area: workitem1;
}
#workItem2{
  grid-area: workitem2;
}
#workItem3{
  grid-area: workitem3;
}
#workItem4{
  grid-area: workitem4;
}
#workItem5{
  grid-area: workitem5;
}
.workItem{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: rgb(59, 173, 177) solid 2px;
}

#workItem1, #workItem2, #workItem4{
  margin-left: 30px;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid rgb(59, 173, 177);
  padding-bottom: 30px;
}

#ContactMeGrid{
  margin: 0px 5%;
  margin-bottom: 30px;
  margin-top: 30px;
  display: grid;
  height: 200px;
  grid-template-rows: 100%;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
    "title textArea"
  ;
}

#contactmetitle{
  grid-area: title;
}

#contactmetext{
  grid-area: textArea;
}

/*
.heading{
  display: flex;
  align-items: flex-end;

}


