* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1{
  color: black;
  width: 25%;
  font-weight: 500px;
  margin: 0px 0px 10px 30px;
  background-color: rgba(146,204,205,255);
  text-align: right;
  font-size: 35px;
  padding-right: 10px;
}

p {
  margin: 0;
}

nav{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  background-color: rgba(49,52,61,255);
  height: 80px;
}

nav a{
  color: white;
  font-size: medium;
  padding-right: 20px;
  font-size: 20px;

}

#navbar{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}





