@media only screen and (max-width: 1200px) {

  nav h1{
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  #navbar{
    visibility: hidden;
  }
  nav h1{
    font-size: 20px;
  }
  .hero-banner img{
    visibility: hidden;
  }
  .title h3{
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  #navbar{
    visibility: hidden;
  }
  nav h1{
    font-size: 20px;
  }
  .hero-banner img{
    visibility: hidden;
  }
  .title h3{
    font-size:25px;
  }
}


:root{
  --primary-colur:  rgba(146,204,205,255);
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(49,52,61,255);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1{
  color: black;
  width: 25%;
  font-weight: 500px;
  margin: 0px 0px 10px 30px;
  background-color: var(--primary-colur);
  text-align: right;
  font-size: 35px;
  padding-right: 10px;
  position:absolute;
  left: 0px;
}

h3{
  font-size: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h4{
  padding-left: 30px;
  margin-bottom: 30px;
  background-color: var(--primary-colur);

}

p {
  font-size: 20px;
}

nav{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  background-color: rgba(49,52,61,255);
  height: 80px;
}

nav a{
  color: white;
  font-size: medium;
  margin-right: 20px;
  font-size: 25px;

}

a:hover {
  background-color: var(--primary-colur);
  color: black;
}

#navbar{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}

.hero-banner{
  display: block;
  background-image: url("../images/pngwing.com\ \(1\).png");
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

#ProfilePic{
  height: 250px;
  width: auto;
  border-radius: 50%;
  border: 3px solid var(--primary-colur);
}

.hero-banner h2{
  background-color: var(--primary-colur);
  width: fit-content;
  padding: 5px;
  font-size: 40px;
  position: absolute;
  right: 40px;
  bottom:20px;

}

#AboutMeGrid{
  margin: 0px 5%;
  margin-top: 30px;
  display: grid;
  height: auto;
  grid-template-rows: 100%;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
    "title textArea"
  ;
}

#aboutmetitle{
  grid-area: title;
}

#aboutmetext{
  grid-area: textArea;
  display: flex;
}

.text p{
  color: var(--primary-colur);
}

.title{
  border-right: 5px black solid;
  border-color: var(--primary-colur);
  color: var(--primary-colur);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
  padding-right: 20px;
}

.text{
  padding-left: 20px;
  padding-right: 30px;
}

#PortfolioGrid{
  margin: 0px 5%;
  margin-top: 40px;
  display: grid;
  height: 800px;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas: 
    "title workitem1 workitem1"
    "title workitem2 workitem3"
    "title workitem4 workitem5"
  ;
}

#workTitle{
  grid-area: title;
}

#workItem1{
  grid-area: workitem1;
  background-image: url(../images/css-cheat-sheet.png);

}
#workItem2{
  grid-area: workitem2;
  background-image: url(https://media.istockphoto.com/id/1332167985/photo/coming-soon-neon-sign-the-banner-shining-light-signboard-collection.jpg?b=1&s=170667a&w=0&k=20&c=Le4B-lJt-jXjeAOdlTQptNvN_DmRwWF19ShNc5VY4a4=);
}
#workItem3{
  grid-area: workitem3;
  background-image: url(https://media.istockphoto.com/id/1332167985/photo/coming-soon-neon-sign-the-banner-shining-light-signboard-collection.jpg?b=1&s=170667a&w=0&k=20&c=Le4B-lJt-jXjeAOdlTQptNvN_DmRwWF19ShNc5VY4a4=);
}
#workItem4{
  grid-area: workitem4;
  background-image: url(https://media.istockphoto.com/id/1332167985/photo/coming-soon-neon-sign-the-banner-shining-light-signboard-collection.jpg?b=1&s=170667a&w=0&k=20&c=Le4B-lJt-jXjeAOdlTQptNvN_DmRwWF19ShNc5VY4a4=);
}
#workItem5{
  grid-area: workitem5;
  background-image: url(https://media.istockphoto.com/id/1332167985/photo/coming-soon-neon-sign-the-banner-shining-light-signboard-collection.jpg?b=1&s=170667a&w=0&k=20&c=Le4B-lJt-jXjeAOdlTQptNvN_DmRwWF19ShNc5VY4a4=);
}

.workItem{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: var(--primary-colur) solid 2px;
}

#workItem1, #workItem2, #workItem4{
  margin-left: 30px;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid var(--primary-colur);
  padding-bottom: 30px;
}

#ContactMeGrid{
  margin: 0px 5%;
  margin-bottom: 30px;
  margin-top: 30px;
  display: grid;
  height: 200px;
  grid-template-rows: 100%;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
    "title textArea"
  ;
}

#contactmetitle{
  grid-area: title;
}

#contactmetext{
  grid-area: textArea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.contact a{
  color: var(--primary-colur);
  font-size: medium;
  margin-right: 70px;
  font-size: 50px;
  display: inline;
  justify-content: space-between;
}

.contact a:hover{
  background-color: white;
  color: black;
}



